:php
  $current_user = W::user_current();
  if(W::is_postback())
  {
    if(W::p('password[new]')==W::p('password[confirm]'))
    {
      $current_user->set_password(W::p('password[new]'));
      W::flash_next('Password changed.');
      W::redirect_to('/account');
    } else {
      W::flash('Passwords do not match. Try again.');
    }
    
  }
%h1 My Account

%h2 Basic Information
%table
  %tr
    %th Login
    %td +$current_user->login
  %tr
    %th Email
    %td +$current_user->email
  %tr
    %th Created
    %td =W::date_format($current_user->created_at)

%h2 Password
=W::form_tag()
  %table
    %tr
      %th New Password
      %td =W::password_tag('password[new]', W::p('password[new]'))
    %tr
      %th Confirm Password
      %td =W::password_tag('password[confirm]')
    %tr
      %th
      %td
        .button Change
=W::end_form_tag()